body {
    text-align: center;
    background-color: yellow;
    background: url('/static/img/bg.png');
}

.page-image img {max-width: 600px;}

.button-link {text-decoration: none; display: inline-block;}
.button-disabled { opacity: 0.5; }
