{% extends "_base.html" %}

{% set hide_logo = True %}

{% block title %}{% endblock %}

{% block content %}

    <h2>
        <a href="{{ url_for('comic', comic_id=comic.id) }}">
            <img src="{{ url_for(comic.id+'.static', filename='_logo.png') }}">
        </a>
        {% if comic['page_names'] %}
            <!--
                <a href="{{ url_for('comic', comic_id=comic.identifier) }}">
                    {{ comic.name }}
                </a>
             »
             -->
             {{ page.name or page.id }}
         {% endif %}
    </h2>
    
    <div>
        <div class="comic-page">
            <div class="page-image">
                <img src="{{ url_for(comic.id+'.static', filename=page.id+'.'+comic.format) }}">
            </div>
            
            {% macro button(url, image, enabled=True) %}
                <li>
                {% if enabled %}
                    <a href="{{ url }}" class="button-link">
                        <img src="{{ url_for('static', filename='img/'+image+'.png') }}" alt="{{image}}" class="nearest">
                    </a>
                {% else %}
                    <a>
                        <img src="{{ url_for('static', filename='img/'+image+'.png') }}" alt="{{image}}" class="nearest button-disabled">
                    </a>
                {% endif %}
            {% endmacro %}
            
            <ul class="buttons buttons-primary">
                {{ button(url_for('page', comic_id=comic.id, page_id=prev.id), "prev", prev) }}
                {{ button(url_for('page', comic_id=comic.id, page_id=next.id), "next", next) }}
            </ul>
            
            <ul class="buttons buttons-secondary">
                {{ button(url_for('page', comic_id=comic.id, page_id=comic.pages[0].id), "first", page.id != comic.pages[0].id) }}
                {{ button(url_for('comic', comic_id=comic.id), "home") }}
                {{ button(url_for('page', comic_id=comic.id, page_id=comic.pages[-1].id), "last", page.id != comic.pages[-1].id) }}
            </ul>
            
            <ul class="buttons buttons-tetriary">
                {{ button("", "mode", False) }}
                {{ button("", "dex", False) }}
                {{ button("", "airplane", False) }}
            </ul>
        </div>
    </div>

{% endblock %}
